<%- include ('partials/header') %>
    <div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Editar Estudiantes</h2 >
                        <form action="/edit/<%= task._id %>" method="POST">
                            <div class="form-group">
                                <input type="text" name="firstname" placeholder="Nombre" class="form-control" value="<%=task.firstname%>" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastname" placeholder="Apellido" class="form-control" value="<%=task.lastname%>" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="E-mail" class="form-control" value="<%=task.email%>" >
                            </div>
                            <div class="form-group">
                                <input type="text" name="address" placeholder="Dirección" class="form-control" value="<%=   task.address%>" >
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Editar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include ('partials/footer') %>