<%- include ('partials/header') %>
    <div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Agregar Estudiantes</h2 >
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="firstname" placeholder="Nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastname" placeholder="Apellido" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="E-mail" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="address" placeholder="Dirección" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Agregar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- List -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Dirección</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i< tasks.length; i++) {%>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= tasks[i].firstname %></td>
                                <td><%= tasks[i].lastname %></td>
                                <td><%= tasks[i].email %></td>
                                <td><%= tasks[i].address %></td>
                                <td>
                                    <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">Actualizar</a>
                                    <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Borrar</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include ('partials/footer') %>